$base-black: #141413;
$base-gray-darkest: #353432;
$base-gray-dark-buttons: #64625E;
$base-gray-3: #84817D;
$base-gray-4: #94918C;
$base-gray-5: #A4A19B;
$base-gray-6: #B3B0A9;
$base-gray-7: #C3C0B9;
$base-gray-8: #D3CFC8;
$base-gray-strokes: #E3DFD7;
$base-gray-10: #EAE7E1;
$base-gray-light: #F1EFEB;
$base-gray-lightest: #F8F7F5;
$base-white: #FFF;

$accent-orange: #FF671B;
$accent-orange-focused: #CF4808;
$accent-red: #E51B24;
$accent-red-focused: #BF1319;
$accent-orange-secondary: #F38B00;
$accent-yellow: #FDBA12;
$accent-green: #8DB92E;
$accent-green-focused: #6C9523;
$accent-green-dark: #577E13;

$link-text: #CF4808;